{% extends 'todo/base.html' %}

{% block content%}
   
    <form method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="Submit"> Save </button>
    </form>
    
    <form method='POST' action="{% url 'completetodo' todo.id %}">
        {% csrf_token %}        
        <button type="Submit"> Complete </button>
    </form>

    <form method='POST' action="{% url 'deletetodo' todo.id %}">
        {% csrf_token %}        
        <button type="Submit"> Delete </button>
    </form>

{% endblock %}